<configuration debug="false">

    <appender name="DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder class="net.logstash.logback.encoder.LogstashEncoder" /-->

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="fr.xebia.xebicon.xebikart" level="INFO"/>
    <logger name="fr.xebia.xebicon.xebikart.api.infra.http.endpoint.sse" level="TRACE"/>
    <logger name="fr.xebia.xebicon.xebikart.api.infra.mqtt" level="INFO"/>
    <logger name="fr.xebia.xebicon.xebikart.api.infra.mqtt.MqttConsumerContainer" level="DEBUG"/>
    <logger name="fr.xebia.xebicon.xebikart.api.infra.http.endpoint.VideoHttpServlet" level="DEBUG"/>
    <logger name="fr.xebia.xebicon.xebikart.api.infra.mqtt.EventVideoFetcher" level="DEBUG"/>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="spark" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="DEFAULT"/>
    </root>

</configuration>
