<configuration debug="false">

    <appender name="DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="fr.xebia.xebicon.xebikart" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <root level="WARN">
        <appender-ref ref="DEFAULT"/>
    </root>

</configuration>